@import url("https://fonts.googleapis.com/css2?family=Asap&family=Roboto:ital,wght@0,500;0,900;1,500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Asap", sans-serif;
  background-color: #fdfdfe;
}

* {
  box-sizing: border-box;
}

h1 {
    background-color: purple;
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  